.contact-modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.displayModal {
    display: flex;
}

.photographer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 5px;
    height: 300px;
    margin: 0 100px;
}

.photographer-header .photographer-portrait {
    margin-right: 40px;
}

.photographer-informations {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    line-height: 0;
}

.photographer-name {
    font-size: 64px;
    margin-bottom: 30px;
}

.photographer-location {
    font-size: 24px;
}

.photographer-tagline {
    font-size: 18px;
}

.contact-button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover, .contact-button:active {
    background-color: var(--secondary-softred);
    color: black;
}

.modal {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    padding: 35px;
    row-gap: 80px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.modal header img {
    position: relative;
    top: 20px;
    height: 42px;
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form .form-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

.form-message {
    height: 200px;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
}

form .contact-button {
    margin-top: 20px;
}

.sorting-wrapper {
    display: flex;
    column-gap: 30px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.sorting-wrapper p {
    font-weight: 700;
    font-size: 18px;
}

.navbutton {
    width: 100%;
    border: none;
    background-color: var(--primary-darkred);
    color: white;
    cursor: pointer;
}

.navbutton p {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-menu {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 200px;
    max-width: 130px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-darkred);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.dropdown-menu .fa-chevron-up {
    display: none;
}

/* Cache les boutons du menu */
.dropdown-content {
    display: none;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.dropdown-content .navbutton {
    border-top: solid 1px white;
}

.dropdown-menu:hover .fa-chevron-down{
    display: none;
}

.dropdown-menu:hover .fa-chevron-up {
    display: block;
}

.dropdown-menu:hover .dropdown-content{
    display: block;
}

.media-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 70px;
    margin: 0 100px;
}

.media-content-wrapper {
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.media-image-wrapper {
    display: flex;
    height: 300px;
    cursor: pointer;
}

.media-image-wrapper:focus {
    box-shadow: 0px 50px 0px 0px rgba(82,82,82,0.25);
}

.media-image-wrapper video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.media-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-image-informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
}

.media-image-title-wrapper {
    display: flex;
    height: 50px;
    align-items: center;
    width: 70%;
}

.media-image-title-wrapper h2{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-darkred);
}

.media-image-likes {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.media-image-likes p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-darkred);
}

.media-image-likes .fa-heart {
    color: var(--secondary-darkred);
}

.photographer-like-price-wrapper {
    display: flex;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    width: 380px;
    right: 35px;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-softred);
}

.photographer-like-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 30px;
}

.photographer-price-wrapper {
    margin-right: 30px;
}

.lightbox-wrapper {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    column-gap: 30px;
    background-color: white;
}

.lightbox-left-wrapper {
    display: flex;
    margin-left: 30px;
}

.lightbox-left-wrapper .fa-chevron-left{
    font-size: 48px;
    color: var(--secondary-darkred);
    cursor: pointer;
}

.lightbox-center-wrapper {
    display: flex;
    flex-direction: column;
    width: 1050px;
    row-gap: 5px;
}

.lightbox-center-wrapper .lightbox-media-wrapper {
    display: flex;
    width: 100%;
}

.lightbox-center-wrapper .lightbox-media-wrapper img {
    object-fit: contain;
    width: 100%;
    max-height: 900px;
}

.lightbox-center-wrapper .lightbox-media-wrapper video {
    object-fit: contain;
    width: 100%;
}

.lightbox-title-wrapper h2 {
    line-height: 0px;
    color: var(--secondary-darkred);
}

.lightbox-right-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.lightbox-right-wrapper .fa-xmark{
    font-size: 48px;
    color: var(--secondary-darkred);
    position: absolute;
    top: 30px;
    cursor: pointer;
}

.lightbox-right-wrapper .fa-chevron-right {
    font-size: 48px;
    color: var(--secondary-darkred);
    cursor: pointer;
}

