#contact_modal {
    display: none;
}

.photographer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 5px;
    height: 300px;
    margin: 0 100px;
}

.photographer-header .photographer-portrait {
    margin-right: 40px;
}

.photographer-informations {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    line-height: 0;
}

.photographer-name {
    font-size: 64px;
    margin-bottom: 30px;
}

.photographer-location {
    font-size: 24px;
}

.photographer-tagline {
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:active {
    background-color: var(--secondary-softred);
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.sorting-wrapper {
    display: flex;
    column-gap: 30px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.sorting-wrapper p {
    font-weight: 700;
    font-size: 18px;
}

.navbutton {
    width: 100%;
    border: none;
    background-color: var(--primary-darkred);
    color: white;
    cursor: pointer;
}

.navbutton p {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-menu {
    display: flex;
    max-width: 130px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-darkred);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.dropdown-menu .fa-chevron-up {
    display: none;
}

/* Cache les boutons du menu */
.dropdown-content {
    display: none;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.dropdown-content .navbutton {
    border-top: solid 1px white;
}

.dropdown-menu:hover .fa-chevron-down{
    display: none;
}

.dropdown-menu:hover .fa-chevron-up {
    display: block;
}

.dropdown-menu:hover .dropdown-content{
    display: block;
}

.media-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 70px;
    margin: 0 100px;
}

.media-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.media-image-wrapper {
    display: flex;
    height: 300px;
}

.media-image-wrapper video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.media-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-image-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    line-height: 0;
}

.media-image-informations h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-darkred);
}

.media-image-likes {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.media-image-likes p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-darkred);
}

.fa-heart {
    color: var(--secondary-darkred);
}