@import url("photographer.css");

:root {
    --primary-darkred: #901C1C;
    --primary-moderatered: #D3573C;
    --secondary-softred: #DB8876;
    --secondary-darkgray: #525252;
    --secondary-lightgray: #FAFAFA;
    --secondary-darkred: #901C1C;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-darkred);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0;
}

.photographer_section article a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer-name {
    color: var(--primary-moderatered);
    font-weight: 400;
}

.photographer-location {
    color: var(--secondary-darkred);
    font-weight: 400;
}

.photographer-tagline {
    color: var(--secondary-darkgray);
    font-weight: 400;
}

.photographer_section article a .photographer-name {
    font-size: 36px;
}

.photographer_section article .photographer-location {
    font-size: 13px;
    margin-top: 3px;
}

.photographer_section article .photographer-tagline {
    color: black;
    font-size: 10px;
    margin-top: 3px;
}

.photographer_section article p {
    color: #757575;
    font-size: 10px;
    font-weight: 400;
    margin-top: 3px;
}

.photographer-portrait {
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}